* {
    box-sizing: border-box;
    margin: 0;
}

main {
    display: flex;
    padding-bottom: 2em;
}

header {
    display: flex;
    flex-direction: row;
}

#header-nombre {
    width: 20%;
    height: 15em;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#header-contacto {
    width: 80%;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f2f2f2;
    padding-left: 2em;
}

#header-linea {
    width: 6em;
    height: 0.35em;
    background: #727070;
    margin-left: 1.5em;
    display: flex;
    place-items: center;
    transition: width 0.3s ease;
}

#contacto-nombre {
    font-size: calc(2vw + 1em);
    padding: 0.3em 0.3em 0;
    font-family: 'IBM Plex Sans', serif;
    letter-spacing: 0.35em;
    word-spacing: 0.2em;
    text-align: center;
    color: #fff;
}

#contacto-actividad {
    font-size: calc(2vw + 1em);
    padding-bottom: 0.2em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    letter-spacing: 0.2em;
    font-weight: 800;
}

.contacto-info {
    display: flex;
    align-items: center;
    padding: 0 0 1em 1em;
}

.contacto-info i {
    padding-right: 0.7em;
    font-size: 1.8em;
}

#contacto-linkedin {
    padding: 0;
    font-weight: normal;
}

#section-izquierda {
    width: 25%;
    padding-left: 3em;
}

.section-titulo {
    font-size: 1.4em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    letter-spacing: 0.18em;
    padding: 0.9em 0 0 0;
}

.titulo-linea {
    width: 3.5em;
    height: 0.23em;
    background: #727070;
    margin: 0 0 1.2em 0.5em;
    transition: width 0.3s ease;
}

#contacto-nombre:hover+#header-linea {
    width: 10.5em;
}

#habilidades-tecnicas:hover+.titulo-linea {
    width: 11em;
}

#habilidades-relevantes:hover+.titulo-linea {
    width: 11.5em;
}

#tech-stack:hover+.titulo-linea {
    width: 11em;
}

#idiomas:hover+.titulo-linea {
    width: 7.4em;
}

#intereses:hover+.titulo-linea {
    width: 9.6em;
}

#educacion:hover+.titulo-linea {
    width: 10.5em;
}

.section-titulo:hover+.titulo-linea {
    width: 6em;
}

#certificaciones:hover+.titulo-linea {
    width: 16.4em;
}

#proyectos:hover+.titulo-linea {
    width: 26.5em;
}

li {
    padding-bottom: 0.7em;
}

li,
p {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.07em;
}

a {
    color: #000;
    font-size: 1.1em;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    letter-spacing: 0.25em;
    padding: 0.9em 0 0 0;
}

li div {
    display: flex;
}

.portafolio-subtitulo {
    font-weight: 600;
    padding-right: 0.4em;
}

.portafolio-texto {
    padding: 0.3em 0 0.3em 0;
}

#section-derecha {
    width: 75%;
    padding: 0 3em 0 3em;
}

@media (min-width: 1001px) and (max-width: 1200px) {
    #header-nombre {
        width: 20em;
    }

    #header-linea {
        margin-left: 2.5em;
    }
}

@media (max-width: 1000px) {
    #contacto-actividad {
        padding-bottom: 0.6em;
        letter-spacing: 0.15em;

    }

    #header-nombre {
        width: 20em;
    }

    #header-contacto {
        padding-left: 1.1em;
    }

    #contacto-nombre {
        font-size: 2.5em;
    }

    .contacto-info i {
        padding-right: 0.7em;
        font-size: 1.2em;
    }

    .contacto-info p {
        font-size: 1em;
    }

    #section-izquierda {
        width: 32%;
        padding-left: 1em;
    }

    #section-derecha {
        width: 68%;
        padding: 0 1em 0 1em;
    }

    #habilidades-tecnicas:hover+.titulo-linea,
    #habilidades-relevantes:hover+.titulo-linea {
        width: 10em;
    }

    .section-titulo:hover+.titulo-linea {
        width: 6em;
    }

    #proyectos:hover+.titulo-linea {
        width: 14.6em;
    }

    ul {
        padding-left: 1.5em;
    }

    li,
    p {
        letter-spacing: 0.055em;
        font-size: 0.95em;
    }

    li {
        padding-bottom: 0.4em;
    }

}